<a class="btn btn-primary" href="/Item/Create">Create new Item</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<Item>)ViewBag.items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Type.Name</td>
                <td><a class="btn btn-info" href="/Item/Edit?itemId=@item.Id">Edit</a></td>
            </tr>
        }

    </tbody>
</table>